<div class="newblog">
  <%= form_for(post) do |f| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      <div>
      <%= f.label :title %>
      </div>
      <div>
      <%= f.text_area :title %>
      </div>
      <div>
      <%= f.label :content %>
      </div>
      <div>
      <%= f.text_area :content %>
      </div>
      <!--
      <div>
      <%= f.label :user_id %>
      </div>
      <div>
      <p>your id is <%= current_user.id %></p>
     <div>
      <p>your id is <%= current_user.name %></p>
      </div>
      title<%= post.title %>
      <% post.user_id = current_user.id %>
       post id is<%= post.user_id %>
      <% if post.user_id != nil %>
      <%= post.user_id %>
      <% end %>
      </div>
      -->
    <div class="btn">
      <%= f.submit %>
    </div>
  <% end %>
</div>
