<p id="notice"><%= notice %></p>
<div class="intro" style="margin-top: 8%; margin-bottom: 7%; font-size: 1.7vw;">
<p>Posts</p>
<p ><%= link_to 'New Post', new_post_path %></p>
<p style="font-size: 1.4vw;">恰同学少年，风华正茂。</p>
</div>
    <% @posts.each do |post| %>
    <div class="postlist">
      <div style="font-size: 6vw; text-align: center;color:black; background-color: white; margin-bottom: -1.5%;">
        <p><%= post.title %></p>
      </div>
      <div style="color:white; background-color: black; padding-top: 1%;">
        <p><%= post.content %></p>
        <p><%= post.created_at %>&nbsp;<%= post.updated_at %></p>
        <p style="background-color: white; color:black;margin-bottom: 20%;"><%= link_to 'Showpost', post %></p>
      </div>
    </div>
    <% end %>
